# Ignore node_modules directory
*node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm lock file
package-lock.json

# Ignore yarn lock file
yarn.lock

# Ignore db backup
*.sql
!structure.sql

# Ignore coverage reports
coverage/

# Ignore test results
test-results/
